php.bin = /usr/bin/php7.1
composer.command = composer.phar install --prefer-dist --no-dev

deploy.host = 719629.s.dedikuoti.lt
deploy.port = 22
deploy.user = username
deploy.path = /var/www
deploy.releases_dir = ./web/releases
deploy.docroot_dir = ./web/current
deploy.shared_dir = ./web/shared
